@import "../../styles";


.freqQuestions {
  @include container;
  padding: 20px 0px 100px 0px;
  &__title {
    margin: 0px 0px 20px 0px;
    text-align: center;
  }
  &__line {
    margin: 0px auto 50px auto;
    @media (max-width: 767px) {
      margin: 0px auto 30px auto;
    }
  }
  &__content {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    @media (max-width: 767px) {
      flex-direction: column;
      row-gap: 30px;
    }
  }
  &__questions {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  &__form {}
}



