@import "./../../styles";

.carusel {

  max-width: 1820px;
  margin: 0px auto;
  position: relative;
  z-index: 1;

  @media (max-width: 767px) {
    margin: 0px -20px;
  }

  &__slider {
    position: relative;

  }

  &__arrow {
    position: absolute;
    top: calc(50% - 40px);
    z-index: 10;

    @media (max-width: 767px) {
      display: none !important;
    }

    &_left {
      left: 2%;
    }

    &_right {
      right: 2%;
    }
  }

  &__pugination {
    width: 100%;


    position: absolute;
    bottom: 43px;
    left: 0;
    z-index: 10;

    @include pagination;

    & .swiperPag {
      @include pagItem;
    }
    & .swiperPagActive {
      @include pagItemActive;
    }
  }
}
