
@mixin container {
  //width: 100%;
  max-width: 1140px;
  margin: 0px auto;
}


@mixin container2 {
  max-width: 1820px;
  margin: 0px auto;
}


@mixin arrowContainer {
  max-width: 1300px;
  margin: 0px auto;
  
}

@mixin box-shadow {
  box-shadow: 5px 15px 40px 0px rgba(11, 24, 97, 0.32);
}