@import "../../styles";

.infoBlock1 {
  @include container2;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  background: #363A4D;
  padding: 90px 0px 0px;
  @media (max-width: 767px) {
    padding: 50px 0px 0px;
  }
  &__container {
    @include container;
    position: relative;
    padding: 0px 20px;
  }
  &__title {
    margin: 0px 0px 20px 0px;
    text-align: center;
  }
  &__line {
    margin: 0px auto 0px auto;
  }
  &__items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    column-gap: 30px;
    row-gap: 50px;
    padding: 50px 0px 90px;
    @media (max-width: 768px) {
      display: none;
    }
  }
  &__slider {
    display: none;
    @media (max-width: 768px) {
      display: block;
    }
  }
  &__slide {
    padding: 50px 0px 120px 0px;
  }
  &__pugination {
    display: none;
    @media (max-width: 768px) {
      width: 100%;
      position: absolute;
      bottom: 40px;
      left: 0;
      z-index: 100;
      @include pagination;
    }
    & .swiperPag {
      @include pagItem;
    }
    & .swiperPagActive {
      @include pagItemActive;
    }
  }
}

